<div class="row">
    <div class="span8">
        {% include JB/weibo/shared %}
        {{ content }}
    </div>
    <div class="span4">
        <h3>
            <a href="/atom.xml" target="_blackatom"><img width="25" height="25" src="http://pic.yupoo.com/qianjigui/Dscs6VQI/medish.jpg" alt="RSS/ATOM" />atom RSS</a>
            <a href="/sitemap.txt" target="_blacksitemap"><img width="25" height="25" src="http://pic.yupoo.com/qianjigui/Dscs6XxN/medish.jpg" alt="Sitemap" />Sitemap</a>
        </h3>
        <h4>{{ site.lang.cn.aboutme }}</h4>
        <p>
        {{ site.author.name }}
        {{ site.author.email }}
        <a href="http://weibo.com/u/1620259387?s=6uyXnP" target="_blank"><img border="0" src="http://service.t.sina.com.cn/widget/qmd/1620259387/4e2885d2/1.png"/></a>
        <wb:publish action="pubilish" type="web" language="zh_cn" button_type="red" button_size="middle" refer="y" default_image="http%3A%2F%2Fpic.yupoo.com%2Fqianjigui%2FDuruKAwV%2FyhZb1.jpg" appkey="46pxbE" ></wb:publish>
        </p>

        <h4>{{ site.lang.cn.last_5_comments }}</h4>
        {% include JB/comments-providers/duoshuoLatest %}
    </div>
</div>
